/* This is the special word-wrap image style */
img.slant
{
  float: left;
  clear: left;
  margin: 0 1em 0 0; /* top, right, left, bottom */
}

img.slant_right
{
  float: right;
  clear: right;
  margin: 0 0 0 1em; /* top, right, left, bottom */
}

img.title_image {
  float                : left; /*IE does not render float :left correctly*/
  margin-left          : 0;
  padding-right        : 1em;
  margin-top           : 0em;
  margin-bottom        : 0em;
  padding-top          : 0em;

}

img.title_image_ie {
  /*float                : left;*/ /*IE does not render float :left correctly*/
  margin-left          : 0;
  padding-right        : 1em;
  margin-top           : 0em;
  margin-bottom        : 0em;
  padding-top          : 0em;

}

/* The fragment defines a background color for code chunks */
div.fragment {
  background           : #ddd;
  color                : navy;
  font-family          : fixed;
  margin-left          : 0em;
  margin-right         : 1em;
  padding-left         : 1em;
  padding-right        : 1em;
  margin-top           : 0em;
  margin-bottom        : 0em;
  padding-top          : 0em;
  padding-bottom       : 0em;
  border-style         : solid;
  border-width         : 1;
  border-color         : #000000;
}

div.comment {
  font-size            : larger;
  color                : maroon;
  padding-top          : 1em;
  padding-bottom       : 1em;
}


body { 
  position             : relative; 
  color                : black;
  background           : #eeeeee;
  margin               : 10px;
  padding              : 0px;
  font                 : 13px verdana, arial, helvetica, sans-serif;
}

h1 {
  margin               : 0px 0px 12px 0px;
  padding              : 0px;
  font-size            : 20px;
  font-weight          : 900;
  color                : #000;
}

h2 {
  font                 : bold 16px/20px verdana, arial, helvetica, sans-serif;
  margin               : 3em 1em 5px 0px;
  padding              : 0px;
}

h3 {
  font                 : bold 14px/16px verdana, arial, helvetica, sans-serif;
  padding              : 0px;
}

p {
  font                 : 13px/22px verdana, arial, helvetica, sans-serif;
  margin               : 0px 0px 16px 0px;
  padding              : 0px;
}
.Content>p {margin:0px;}
.Content>p+p {text-indent:30px;}

a {
  color                : navy;
  font-size            : 13px;
  font-family          : verdana, arial, helvetica, sans-serif;
  font-weight          : 600;
  text-decoration      : none;
}

a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {
color:#000;
background-color:#eee;}
  
a.L1 {
  color                : black;
  font-size            : 17px;
  font-family          : verdana, arial, helvetica, sans-serif;
  font-weight          : 200;
  text-decoration      : none;
}


a.L2 {
  color                : black;
  font-size            : 13px;
  font-family          : verdana, arial, helvetica, sans-serif;
  font-weight          : 200;
  text-decoration      : none;
  padding-left         : 10px
}


a.L3 {
  color                : black;
  font-size            : 11px;
  font-family          : verdana, arial, helvetica, sans-serif;
  font-weight          : 100;
  text-decoration      : none;
  padding-left         : 15px
}


/* All the content boxes belong to the content class. */
.content {
  position             : relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
  width                : auto;
  min-width            : 120px;
  margin               : 0px 5px 5px 160px; /* top, right, left, bottom */
  border-style         : outset;
  /*border               : 1px solid black;*/
  color                : black;
  background           : white url(./images/bg_roy_muted_50pct.png) top right; 
  background-repeat    : no-repeat;
  padding              : 10px 10px 10px 10px;  /* top, right, left, bottom */
  z-index              : 3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
  /* min-height           : 500; */ /* Make the div box at least big enough to show the background image */
  /* vertical-align       : text-bottom; */
  /* top-margin           : 20px;*/
}

.search {
  position             : relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
  width                : auto;
  min-width            : 120px;
  margin               : 0px 0px 0px 160px; /* top, right, left, bottom */
  color                : black;
  background           : #eeeeee;
  padding              : 1px 1px 1px 1px;  /* top, right, left, bottom */
  z-index              : 3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
}

#navAlpha {
  position             : absolute; 
  width                : 150px;
  top                  : 10px;
  left                 : 10px;
  border-style         : outset;
  /*border               : 2px solid black; */
  color                : black;
  background-color     : white;
  padding              : 5px;
  z-index              : 2;

  /* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
     Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
     IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
     declaration. The incorrect IE5/Win value is above, while the correct value is 
     below. See http://glish.com/css/hacks.asp for details. */
  voice-family         : "\"}\"";
  voice-family         : inherit;
  width                : 128px;
}


/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#navAlpha {width:128px;}

#navBeta {
  position             : absolute;
  width                : 190px;
  top                  : 20px;
  right                : 20px;
  color                : black;
  border               : 1px solid black;
  /*background           : white url(CSS/WallpaperOrange.jpg) 0 0 repeat fixed;*/
  background-color     : white;
  padding              : 10px;
  z-index              : 1;
  /* Again, the ugly brilliant hack. */
  voice-family         : "\"}\"";
  voice-family         : inherit;
  width                : 168px;
}
/* Again, "be nice to Opera 5". */
body>#navBeta {width:168px;}


/* below -- inherited for Doxygen documentation */
font.keyword       { color: teal }
font.keywordtype   { color: lightgreen }
font.keywordflow   { color: cyan }
font.comment       { color: #800000 }
font.preprocessor  { color: darkgreen }
font.stringliteral { color: maroon }
font.charliteral   { color: #008080 }


span.keyword       { color: teal }
span.keywordtype   { color: darkgreen }
span.keywordflow   { color: cyan }
span.comment       { color: #800000 }
span.preprocessor  { color: purple }
span.stringliteral { color: maroon }
span.charliteral   { color: #008080 }
/* end -- inherited for Doxygen documentation */
