[submodule "contrib/metaphysicl"]
	path = contrib/metaphysicl
	url = ../../roystgnr/MetaPhysicL
[submodule "contrib/timpi"]
	path = contrib/timpi
	url = ../../libMesh/TIMPI
[submodule "m4/autoconf-submodule"]
	path = m4/autoconf-submodule
	url = git@github.com:libMesh/autoconf-submodule
