*.unv
*.gmv
*.gmv.*
*.o
*-dbg
*-opt
*-devel
*-dbg.exe
*-opt.exe
*-devel.exe
*~
*.swp
*.pyc
contrib/bin/xda2mgf
contrib/bin/libmesh-config
doc/Doxyfile
doc/dot
_configs.sed
config.log
config.status
contrib/bin/create_libmesh_release
include/base/libmesh_config.h

Makefile
include/Makefile
include/libmesh/Makefile
*.la
tags

contrib/*.la
contrib/*.lo
contrib/*/*.la
contrib/*/*.lo
contrib/*/*/*.lo
contrib/*/*/*/*.lo
contrib/*/*/*/*/*.lo
contrib/*/*/*/*/.deps
contrib/*/*/*/*/.dirstamp
contrib/*/*/*/*/.libs
contrib/*/*/*/.deps
contrib/*/*/*/.dirstamp
contrib/*/*/*/.libs
contrib/*/*/.deps
contrib/*/*/.dirstamp
contrib/*/*/.libs
contrib/*/.deps
contrib/*/.dirstamp
contrib/*/.libs
contrib/*/Makefile
contrib/.deps
contrib/.dirstamp
contrib/.libs
contrib/bin/test_headers.log
contrib/fparser/.dep
contrib/fparser/examples/example
contrib/fparser/examples/example2
contrib/fparser/examples/autodiff
contrib/fparser/extrasrc/fp_opcode_add.inc
contrib/fparser/fpoptimizer/grammar_data.cc
contrib/fparser/ftest
contrib/fparser/functioninfo
contrib/fparser/powi_speedtest
contrib/fparser/speedtest
contrib/fparser/testbed
contrib/fparser/tests/make_tests
contrib/fparser/util/bytecoderules_parser
contrib/fparser/util/cpp_compress
contrib/fparser/util/tree_grammar_parser
contrib/fparser/util/tree_grammar_parser.cc
contrib/nanoflann/*_example
contrib/nanoflann/pointcloud_kdd_radius
contrib/utils/Make.common
contrib/utils/libmesh*pc

.libs/
src/*/*.lo
src/*/.deps
src/*/.dirstamp

include/libmesh/*.h
include/libmesh/fparser.hh
include/libmesh/nanoflann.hpp
include/libmesh/parallel_communicator_specializations
include/libmesh_config.h
include/libmesh_config.h.tmp
include/stamp-h1

autom4te.cache/
config.cache

libmesh-?.?.?.tar.*
libtool

tests/*/.deps/
tests/*/.dirstamp
tests/.deps/
tests/.dirstamp
tests/reduced_basis

doc/html/doxygen
doc/man

examples/*/*/*.lo
examples/*/*/.deps
examples/*/*/.dirstamp
examples/adaptivity/adaptivity_ex1/gnuplot_script
examples/adaptivity/adaptivity_ex1/gnuplot_script_data
examples/adaptivity/adaptivity_ex2/exact_solution.C
examples/adaptivity/adaptivity_ex2/saved_mesh.xda
examples/adaptivity/adaptivity_ex2/saved_solution.xda
examples/adaptivity/adaptivity_ex3/biquadratic_h_adaptive.m
examples/adaptivity/adaptivity_ex3/error_*.e
examples/adaptivity/adaptivity_ex3/lshaped.e
examples/adaptivity/adaptivity_ex4/2D_hermite_adaptive.e
examples/adaptivity/adaptivity_ex4/2D_hermite_adaptive.m
examples/adaptivity/adaptivity_ex4/2D_hermite_uniform.e
examples/adaptivity/adaptivity_ex4/2D_hermite_uniform.m
examples/adaptivity/adaptivity_ex5/exact_solution.C
examples/adaptivity/adaptivity_ex5/out_*.e
examples/adaptivity/adaptivity_ex5/saved_mesh.xdr
examples/adaptivity/adaptivity_ex5/saved_solution.e
examples/adaptivity/adaptivity_ex5/saved_solution.xdr
examples/adaptivity/adaptivity_ex5/solution_read_in.e
examples/adjoints/adjoints_ex2/lshaped.xda
examples/adjoints/adjoints_ex3/complete
examples/adjoints/adjoints_ex3/out_activemesh.m
examples/adjoints/adjoints_ex3/out_clocktime.m
examples/adjoints/adjoints_ex3/out_solvesteps.m
examples/adjoints/adjoints_ex3/out_time.m
examples/adjoints/adjoints_ex3/out_timesteps.m
examples/eigenproblems/eigenproblems_ex1/out.e
examples/eigenproblems/eigenproblems_ex2/out.e
examples/eigenproblems/eigenproblems_ex3/drum1_evals.txt
examples/eigenproblems/eigenproblems_ex3/drum1_evec.e
examples/eigenproblems/eigenproblems_ex3/drum2_evals.txt
examples/eigenproblems/eigenproblems_ex3/drum2_evec.e
examples/ex10/saved_solution.xda.0000
examples/ex2/eqn_sys.dat.0000
examples/fem_system/fem_system_ex1/out_*.e
examples/introduction/introduction_ex1/output.xda
examples/introduction/introduction_ex2/eqn_sys.dat
examples/introduction/introduction_ex2/eqn_sys.dat.0000
examples/introduction/introduction_ex3/out.pvtu
examples/introduction/introduction_ex3/out_*.vtu
examples/introduction/introduction_ex4/exact_solution.C
examples/introduction/introduction_ex4/gnuplot_script
examples/introduction/introduction_ex4/gnuplot_script_data
examples/introduction/introduction_ex4/out_2.e
examples/introduction/introduction_ex4/out_3.e
examples/introduction/introduction_ex5/exact_solution.C
examples/introduction/introduction_ex5/out_0.e
examples/miscellaneous/miscellaneous_ex1/eqn_sys.dat
examples/miscellaneous/miscellaneous_ex1/ifems_added.e
examples/miscellaneous/miscellaneous_ex1/orig_mesh.e
examples/miscellaneous/miscellaneous_ex3/lshaped.xda
examples/miscellaneous/miscellaneous_ex3/out.e
examples/miscellaneous/miscellaneous_ex4/out.pvtu
examples/miscellaneous/miscellaneous_ex4/out_*.vtu
examples/miscellaneous/miscellaneous_ex5/lshaped.xda
examples/miscellaneous/miscellaneous_ex5/lshaped_dg.e
examples/miscellaneous/miscellaneous_ex6/delaunay_l_shaped_hole.e
examples/miscellaneous/miscellaneous_ex6/hole_3D.e
examples/miscellaneous/miscellaneous_ex7/bih.1.e
examples/miscellaneous/miscellaneous_ex7/bih.2.e
examples/miscellaneous/miscellaneous_ex7/bih.3.e
examples/reduced_basis/reduced_basis_ex1/RB_sol.e
examples/reduced_basis/reduced_basis_ex1/bf0.e
examples/reduced_basis/reduced_basis_ex1/equation_systems.dat
examples/reduced_basis/reduced_basis_ex1/equation_systems.dat.0000
examples/reduced_basis/reduced_basis_ex1/equation_systems.xda
examples/reduced_basis/reduced_basis_ex1/equation_systems.xda.0000
examples/reduced_basis/reduced_basis_ex1/offline_data/
examples/reduced_basis/reduced_basis_ex2/RB_sol.e
examples/reduced_basis/reduced_basis_ex2/bf0.e
examples/reduced_basis/reduced_basis_ex2/rb_data/
examples/reduced_basis/reduced_basis_ex2/scm_data/
examples/reduced_basis/reduced_basis_ex3/RB_sol.e
examples/reduced_basis/reduced_basis_ex3/bf0.e
examples/reduced_basis/reduced_basis_ex3/offline_data/
examples/reduced_basis/reduced_basis_ex4/RB_sol.e
examples/reduced_basis/reduced_basis_ex4/eim_data/
examples/reduced_basis/reduced_basis_ex4/equation_systems.dat
examples/reduced_basis/reduced_basis_ex4/equation_systems.dat.0000
examples/reduced_basis/reduced_basis_ex4/equation_systems.xda
examples/reduced_basis/reduced_basis_ex4/equation_systems.xda.0000
examples/reduced_basis/reduced_basis_ex4/rb_data/
examples/reduced_basis/reduced_basis_ex5/RB_displacement.e
examples/reduced_basis/reduced_basis_ex5/RB_sol.e
examples/reduced_basis/reduced_basis_ex5/equation_systems.dat
examples/reduced_basis/reduced_basis_ex5/equation_systems.dat.0000
examples/reduced_basis/reduced_basis_ex5/offline_data/
examples/reduced_basis/reduced_basis_ex6/RB_sol.e
examples/reduced_basis/reduced_basis_ex6/eim_data/
examples/reduced_basis/reduced_basis_ex6/rb_data/
examples/subdomains/subdomains_ex1/exact_solution.C
examples/subdomains/subdomains_ex1/gnuplot_script
examples/subdomains/subdomains_ex1/gnuplot_script_data
examples/subdomains/subdomains_ex1/out_2.e
examples/subdomains/subdomains_ex1/out_3.e
examples/subdomains/subdomains_ex2/exact_solution.C
examples/subdomains/subdomains_ex2/gnuplot_script
examples/subdomains/subdomains_ex2/gnuplot_script_data
examples/subdomains/subdomains_ex2/out_2.e
examples/subdomains/subdomains_ex2/out_3.e
examples/systems_of_equations/systems_of_equations_ex1/out.e
examples/systems_of_equations/systems_of_equations_ex2/out_*.e
examples/systems_of_equations/systems_of_equations_ex3/out_*.e
examples/systems_of_equations/systems_of_equations_ex4/displacement.e
examples/systems_of_equations/systems_of_equations_ex5/displacement.e
examples/systems_of_equations/systems_of_equations_ex6/displacement.e
examples/transient/transient_ex1/mesh.xda
examples/transient/transient_ex2/pressure_node.res
examples/vector_fe/vector_fe_ex1/out.e
examples/vector_fe/vector_fe_ex2/out.e
examples/vector_fe/vector_fe_ex2/out.inp
examples/vector_fe/vector_fe_ex3/out.e

contrib/autotools/bin
contrib/autotools/include
contrib/autotools/lib
contrib/autotools/share

lib

# build directories
barebones
build
clang
complex
single
trilinos_only
xcode
installed
