[submodule "contrib/metaphysicl"]
	path = contrib/metaphysicl
	url = ../../libMesh/MetaPhysicL
[submodule "contrib/timpi"]
	path = contrib/timpi
	url = ../../libMesh/TIMPI
[submodule "m4/autoconf-submodule"]
	path = m4/autoconf-submodule
	url = ../../libMesh/autoconf-submodule
[submodule "contrib/poly2tri/poly2tri"]
	path = contrib/poly2tri/poly2tri
	url = git@github.com:jhasse/poly2tri.git
