*.unv
*.gmv
*.gmv.*
*.o
*-dbg
*-opt
Make.common
.depend
*~
contrib/bin/xda2mgf
contrib/bin/libmesh-config
lib/
doc/Doxyfile
doc/dot
_configs.sed
config.log
config.status
contrib/bin/create_libmesh_release
include/base/libmesh_config.h
*.exd
out_1
out_1_data
examples/ex0/gnuplot_script
examples/ex0/gnuplot_script_data
examples/ex1/output.xda
examples/ex14/biquadratic_h_adaptive.m
examples/ex15/2D_hermite_uniform.m
examples/ex2/eqn_sys.dat
examples/ex23/offline_data/
