a
{
 text-decoration: none;
 color: navy;
}
a.qindex {}
a.qindexRef {}
a.el {
    text-decoration: none;
    font-weight: bold;
}
a.elRef {
    font-weight: bold
}
a.code {
    text-decoration: none;
    font-weight: normal;
    color: navy
}
a.codeRef {
    font-weight: normal;
    color: #4444ee
}
a:hover {
    text-decoration: none;
    background-color: #cccccc
}



body
{
  background            : white url(images/bg.png);
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center;
  color                 : black;
}



div.main_style {
    background: #eeeeee;
    background-image: url(images/bg_muted.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-left         : 1em;
    margin-left          : 3em;
    margin-right         : 1em;
    padding-top          : 1em;
    padding-bottom       : 1em;
    margin-top           : 5em;
    margin-bottom        : 5em;
    border-style: outset;
    border-width: medium;
    border-color: #000000;
}




hq {
    text-align: center;
}

caption {
    font-weight: bold
}

dl.el {
    margin-left: -1cm
}




div.fragment {
    background: #999999;
    background-image: url(images/bg_more_muted.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-left          : 0em;
    margin-right         : 1em;
    padding-left         : 1em;
    padding-right        : 3em;
    margin-top           : 0em;
    margin-bottom        : 0em;
    padding-top          : 0em;
    padding-bottom       : 0em;
    border-style: solid;
    border-width: medium;
    border-color: #000000;
    max-width            : 800;
}
div.ah {
    font-weight: bold;
    color: "grey";
    margin-bottom: 3px;
    margin-top: 3px
}
div.groupHeader {
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold
}
div.groupText {
    margin-left: 16px;
    font-style: italic;
    font-size: smaller
}






td.md {
    background-color: transparent;
    font-weight: bold;
}
td.mdname1 {
    background-color: transparent;
    font-weight: bold;
    color: #602020;
}
td.mdname {
    background-color: transparent;
    font-weight: bold;
    color: #602020;
    width: 600px;
}
td.indexkey { 
   background-color: transparent;
   font-weight: bold; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
td.indexvalue { 
   background-color: transparent;
   font-style: italic; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}


p,ul,ol {
   padding-left   : 0;
   margin-left    : 1.5em;
   max-width      : 700px;   
}


font.keyword       { color: #06dbdb }
font.keywordtype   { color: lightgreen }
font.keywordflow   { color: cyan }
font.comment       { color: #800000 }
font.preprocessor  { color: darkgreen }
font.stringliteral { color: maroon }
font.charliteral   { color: #008080 }
