*.unv
*.gmv
*.gmv.*
*.o
*-dbg
*-opt
Make.common
.depend
*~
contrib/bin/xda2mgf
contrib/bin/libmesh-config
lib/
doc/Doxyfile
doc/dot
_configs.sed
config.log
config.status
contrib/bin/create_libmesh_release
include/base/libmesh_config.h
*.exd
out_1
out_1_data
examples/ex0/gnuplot_script
examples/ex0/gnuplot_script_data
examples/ex1/output.xda
examples/ex14/biquadratic_h_adaptive.m
examples/ex15/2D_hermite_uniform.m
examples/ex2/eqn_sys.dat
examples/ex23/offline_data/
examples/ex4/out_2.e
examples/ex4/out_3.e
examples/ex5/out_0.e
examples/ex11/out.e
examples/ex13/out_*.e
examples/ex14/lshaped.e
examples/ex15/2D_hermite_uniform.e
examples/ex18/out_*.e
examples/ex19/out.e
examples/ex22/out_*.e
examples/ex25/out_*.e
examples/ex28/out_*.e
autom4te.cache/
aclocal.m4