*.unv
*.gmv
*.gmv.*
*.o
*-dbg
*-opt
Make.common
.depend
*~
contrib/bin/xda2mgf
contrib/bin/libmesh-config
lib/
doc/Doxyfile
doc/dot
_configs.sed
config.log
config.status
contrib/bin/create_libmesh_release
include/base/libmesh_config.h
*.exd
out_1
out_1_data
examples/ex0/gnuplot_script
examples/ex0/gnuplot_script_data
examples/ex1/output.xda
examples/ex14/biquadratic_h_adaptive.m
examples/ex15/2D_hermite_uniform.m
examples/ex2/eqn_sys.dat
examples/ex23/offline_data/
examples/ex4/out_2.e
examples/ex4/out_3.e
examples/ex5/out_0.e
examples/ex6/eqn_sys.dat
examples/ex6/eqn_sys.dat*
examples/ex6/ifems_added.e
examples/ex6/orig_mesh.e
examples/ex10/*.xda
examples/ex11/out.e
examples/ex13/out_*.e
examples/ex14/lshaped.e
examples/ex15/2D_hermite_uniform.e
examples/ex15/2D_clough_uniform.e
examples/ex15/*.m
examples/ex18/out_*.e
examples/ex19/out.e
examples/ex21/*.e
examples/ex22/out_*.e
examples/ex25/out_*.e
examples/ex28/out_*.e
examples/ex29/*.e
autom4te.cache/
aclocal.m4
examples/ex10/saved_solution.xda.0000
examples/ex2/eqn_sys.dat.0000
doc/html/doxygen/*.php
doc/html/doxygen/*.png
doc/man
doc/html/doxygen/doxygen.css
doc/html/doxygen/jquery.js
doc/html/doxygen/tabs.css
contrib/bin/test_headers.log
contrib/fparser/.dep
contrib/fparser/util/bytecoderules_parser
contrib/fparser/util/cpp_compress
contrib/fparser/util/tree_grammar_parser
contrib/fparser/extrasrc/fp_opcode_add.inc
contrib/fparser/examples/example
contrib/fparser/examples/example2
contrib/fparser/ftest
contrib/fparser/functioninfo
contrib/fparser/powi_speedtest
contrib/fparser/speedtest
contrib/fparser/tests/make_tests
contrib/fparser/testbed
