*.o
*-dbg
*-opt
Make.common
.depend
*~
contrib/bin/xda2mgf
contrib/bin/libmesh-config
lib/
doc/Doxyfile
doc/dot
_configs.sed
config.log
config.status
contrib/bin/create_libmesh_release
include/base/libmesh_config.h
*.exd
out_1
out_1_data

