VERSION
comps.txt
config.h
examples/C/.deps/
nc-config
netcdf.pc
stamp-h1

# 'make' produces these
ncdap_test/.dodsrc
ncdump/nccopy
ncdump/ncdump
ncgen/ncgen
ncgen3/ncgen3
ncdump/ctest.c
ncdump/ctest64.c

# 'make check' produces these
examples/C/pres_temp_4D.nc
examples/C/pres_temp_4D_rd
examples/C/pres_temp_4D_wr
examples/C/sfc_pres_temp.nc
examples/C/sfc_pres_temp_rd
examples/C/sfc_pres_temp_wr
examples/C/simple_nc4.nc
examples/C/simple_nc4_rd
examples/C/simple_nc4_wr
examples/C/simple_xy.nc
examples/C/simple_xy_nc4.nc
examples/C/simple_xy_nc4_rd
examples/C/simple_xy_nc4_wr
examples/C/simple_xy_rd
examples/C/simple_xy_wr
examples/CDL/pres_temp_4D.nc
examples/CDL/sfc_pres_temp.nc
examples/CDL/simple_xy.nc
h5_test/tst_h_atts
h5_test/tst_h_atts.h5
h5_test/tst_h_atts3
h5_test/tst_h_atts4
h5_test/tst_h_compounds
h5_test/tst_h_compounds.h5
h5_test/tst_h_compounds2
h5_test/tst_h_compounds2.h5
h5_test/tst_h_dimscales
h5_test/tst_h_dimscales.h5
h5_test/tst_h_dimscales1
h5_test/tst_h_dimscales2
h5_test/tst_h_dimscales2.h5
h5_test/tst_h_dimscales3
h5_test/tst_h_dimscales3.h5
h5_test/tst_h_dimscales4
h5_test/tst_h_dimscales4.h5
h5_test/tst_h_enums
h5_test/tst_h_enums.h5
h5_test/tst_h_files
h5_test/tst_h_files.h5
h5_test/tst_h_files2
h5_test/tst_h_files2.h5
h5_test/tst_h_files4
h5_test/tst_h_files4.h5
h5_test/tst_h_grps
h5_test/tst_h_grps.h5
h5_test/tst_h_ints
h5_test/tst_h_ints.h5
h5_test/tst_h_opaques
h5_test/tst_h_opaques.h5
h5_test/tst_h_rd_cmp
h5_test/tst_h_strings
h5_test/tst_h_strings.h5
h5_test/tst_h_strings1
h5_test/tst_h_strings1.h5
h5_test/tst_h_strings2
h5_test/tst_h_strings2.h5
h5_test/tst_h_vars
h5_test/tst_h_vars.h5
h5_test/tst_h_vars2
h5_test/tst_h_vars2.h5
h5_test/tst_h_vars3
h5_test/tst_h_vars3.h5
h5_test/tst_h_vl
h5_test/tst_h_vl.h5
h5_test/tst_h_wrt_cmp
h5_test/tst_h_wrt_cmp.h5
nc_test/nc_test
nc_test/nc_test_64bit.nc
nc_test/nc_test_classic.nc
nc_test/nc_test_netcdf4.nc
nc_test/t_nc
nc_test/t_nc.nc
nc_test/tst_atts
nc_test/tst_atts.nc
nc_test/tst_atts3
nc_test/tst_atts_2.nc
nc_test/tst_atts_3.nc
nc_test/tst_diskless
nc_test/tst_diskless.nc
nc_test/tst_diskless2
nc_test/tst_diskless2.nc
nc_test/tst_diskless3
nc_test/tst_diskless4
nc_test/tst_fill1.nc
nc_test/tst_fill2.nc
nc_test/tst_misc
nc_test/tst_misc.nc
nc_test/tst_names
nc_test/tst_names.nc
nc_test/tst_nofill
nc_test/tst_nofill2
nc_test/tst_nofill2.nc
nc_test/tst_nofill3
nc_test/tst_nofill3.nc
nc_test/tst_norm
nc_test/tst_norm.nc
nc_test/tst_small
nc_test/tst_small_64bit.nc
nc_test/tst_small_classic.nc
nc_test/tst_small_netcdf4.nc
nc_test/tst_small_netcdf4_classic.nc
nc_test4/cdm_sea_soundings
nc_test4/cdm_sea_soundings.nc
nc_test4/t_type
nc_test4/tst_atts
nc_test4/tst_atts.nc
nc_test4/tst_atts1
nc_test4/tst_atts2
nc_test4/tst_atts2.nc
nc_test4/tst_atts2_2.nc
nc_test4/tst_atts_2.nc
nc_test4/tst_camrun
nc_test4/tst_camrun.nc
nc_test4/tst_chunks
nc_test4/tst_chunks.nc
nc_test4/tst_chunks2
nc_test4/tst_chunks2.nc
nc_test4/tst_compounds
nc_test4/tst_compounds.nc
nc_test4/tst_compounds2
nc_test4/tst_compounds2.nc
nc_test4/tst_compounds3
nc_test4/tst_compounds3.nc
nc_test4/tst_converts
nc_test4/tst_converts.nc
nc_test4/tst_converts2
nc_test4/tst_converts2.nc
nc_test4/tst_coords
nc_test4/tst_coords.nc
nc_test4/tst_coords2
nc_test4/tst_coords2.nc
nc_test4/tst_coords3
nc_test4/tst_coords3.nc
nc_test4/tst_coords_classic_att.nc
nc_test4/tst_coords_nc4_att.nc
nc_test4/tst_dims
nc_test4/tst_dims.nc
nc_test4/tst_dims2
nc_test4/tst_dims2.nc
nc_test4/tst_dims3
nc_test4/tst_dims3.nc
nc_test4/tst_endian_fill
nc_test4/tst_endian_fill.nc
nc_test4/tst_enums
nc_test4/tst_enums.nc
nc_test4/tst_files
nc_test4/tst_files.nc
nc_test4/tst_files2_0.nc
nc_test4/tst_files2_1.nc
nc_test4/tst_files2_10.nc
nc_test4/tst_files2_11.nc
nc_test4/tst_files2_12.nc
nc_test4/tst_files2_13.nc
nc_test4/tst_files2_14.nc
nc_test4/tst_files2_15.nc
nc_test4/tst_files2_16.nc
nc_test4/tst_files2_17.nc
nc_test4/tst_files2_18.nc
nc_test4/tst_files2_19.nc
nc_test4/tst_files2_2.nc
nc_test4/tst_files2_20.nc
nc_test4/tst_files2_21.nc
nc_test4/tst_files2_22.nc
nc_test4/tst_files2_23.nc
nc_test4/tst_files2_24.nc
nc_test4/tst_files2_25.nc
nc_test4/tst_files2_26.nc
nc_test4/tst_files2_27.nc
nc_test4/tst_files2_28.nc
nc_test4/tst_files2_29.nc
nc_test4/tst_files2_3.nc
nc_test4/tst_files2_4.nc
nc_test4/tst_files2_5.nc
nc_test4/tst_files2_6.nc
nc_test4/tst_files2_7.nc
nc_test4/tst_files2_8.nc
nc_test4/tst_files2_9.nc
nc_test4/tst_files4
nc_test4/tst_files4.nc
nc_test4/tst_files5
nc_test4/tst_files6
nc_test4/tst_files6.nc
nc_test4/tst_fillbug
nc_test4/tst_fillbug.nc
nc_test4/tst_fills
nc_test4/tst_fills.nc
nc_test4/tst_fills2
nc_test4/tst_fills2.nc
nc_test4/tst_grps
nc_test4/tst_grps.nc
nc_test4/tst_grps2
nc_test4/tst_h_atts2
nc_test4/tst_h_refs
nc_test4/tst_h_refs.h5
nc_test4/tst_h_strbug
nc_test4/tst_h_strbug.h5
nc_test4/tst_interops
nc_test4/tst_interops.h5
nc_test4/tst_interops4
nc_test4/tst_interops4.nc
nc_test4/tst_interops5
nc_test4/tst_interops5.h5
nc_test4/tst_interops6
nc_test4/tst_interops6.h5
nc_test4/tst_opaques
nc_test4/tst_opaques.nc
nc_test4/tst_pres_temp_4D_64bit_offset.nc
nc_test4/tst_pres_temp_4D_classic.nc
nc_test4/tst_pres_temp_4D_netcdf4.nc
nc_test4/tst_pres_temp_4D_netcdf4_classic.nc
nc_test4/tst_strings
nc_test4/tst_strings.nc
nc_test4/tst_strings2
nc_test4/tst_strings2.nc
nc_test4/tst_sync
nc_test4/tst_sync.nc
nc_test4/tst_unlim_vars
nc_test4/tst_unlim_vars.nc
nc_test4/tst_utf8
nc_test4/tst_utf8.nc
nc_test4/tst_v2
nc_test4/tst_v2.nc
nc_test4/tst_varms
nc_test4/tst_varms.nc
nc_test4/tst_vars
nc_test4/tst_vars.nc
nc_test4/tst_vars2
nc_test4/tst_vars2.nc
nc_test4/tst_vars3
nc_test4/tst_vars3.nc
nc_test4/tst_vars4
nc_test4/tst_vars4.nc
nc_test4/tst_vl
nc_test4/tst_vl.nc
nc_test4/tst_vl_2.nc
nc_test4/tst_xplatform
nc_test4/tst_xplatform.nc
nc_test4/tst_xplatform2
nc_test4/tst_xplatform2_1.nc
nc_test4/tst_xplatform2_2.nc
ncdap_test/nctestserver
ncdap_test/results/
ncdap_test/t_dap3a
ncdap_test/test_cvt3
ncdap_test/test_nstride_cached
ncdap_test/test_partvar
ncdap_test/test_vara
ncdap_test/test_varm3
ncdump/c0.nc
ncdump/c0tmp.nc
ncdump/c1.cdl
ncdump/c1.ncml
ncdump/ctest
ncdump/ctest0.nc
ncdump/ctest0_64.nc
ncdump/ctest1.cdl
ncdump/ctest1_64.cdl
ncdump/ctest64
ncdump/results/
ncdump/rewrite-scalar
ncdump/small.nc
ncdump/small2.nc
ncdump/test0.nc
ncdump/test1.cdl
ncdump/test1.nc
ncdump/test2.cdl
ncdump/tmp_all.nc
ncdump/tmp_subset.cdl
ncdump/tmp_tst_charfill.cdl
ncdump/tst_calendars.nc
ncdump/tst_charfill.nc
ncdump/tst_chunking
ncdump/tst_comp
ncdump/tst_comp.cdl
ncdump/tst_comp.nc
ncdump/tst_comp2
ncdump/tst_comp2.nc
ncdump/tst_compounds2.cdl
ncdump/tst_compounds3.cdl
ncdump/tst_compounds4.cdl
ncdump/tst_compress
ncdump/tst_create_files
ncdump/tst_enum_data
ncdump/tst_enum_data.cdl
ncdump/tst_enum_data.nc
ncdump/tst_fillbug
ncdump/tst_fillbug.cdl
ncdump/tst_fillbug.nc
ncdump/tst_format_att.cdl
ncdump/tst_format_att_64.cdl
ncdump/tst_group_data
ncdump/tst_group_data.cdl
ncdump/tst_group_data.nc
ncdump/tst_h_rdc0
ncdump/tst_mslp.nc
ncdump/tst_mslp_64.nc
ncdump/tst_mud4.cdl
ncdump/tst_mud4.nc
ncdump/tst_nans
ncdump/tst_nans.cdl
ncdump/tst_nans.nc
ncdump/tst_ncml.nc
ncdump/tst_opaque_data
ncdump/tst_opaque_data.cdl
ncdump/tst_opaque_data.nc
ncdump/tst_small.cdl
ncdump/tst_small.nc
ncdump/tst_solar_1.cdl
ncdump/tst_solar_1.nc
ncdump/tst_solar_2.cdl
ncdump/tst_solar_2.nc
ncdump/tst_solar_cmp.nc
ncdump/tst_special_atts
ncdump/tst_special_atts.cdl
ncdump/tst_special_atts.nc
ncdump/tst_string_data
ncdump/tst_string_data.cdl
ncdump/tst_string_data.nc
ncdump/tst_times.cdl
ncdump/tst_unicode
ncdump/tst_unicode.cdl
ncdump/tst_unicode.nc
ncdump/tst_utf8
ncdump/tst_utf8.cdl
ncdump/tst_utf8.nc
ncdump/tst_vlen_data
ncdump/tst_vlen_data.cdl
ncdump/tst_vlen_data.nc
ncdump/utf8.cdl
ncdump/utf8.nc
ncgen/c0.nc
ncgen/c0_4.nc
ncgen/c0_4c.nc
ncgen/c0_64.nc
ncgen/ncf199.nc
ncgen/ref_camrun.c
ncgen3/c0.nc
ncgen3/c0_4.nc
ncgen3/c0_4c.nc
ncgen3/c0_64.nc
nctest/nctest
nctest/nctest_64bit_offset.nc
nctest/nctest_classic.nc
nctest/nctest_netcdf4.nc
nctest/temp.tmp
nctest/test2.nc
nctest/tst_rename
nctest/tst_rename.nc
