*~
*.res
*.a
*.dylib
*.o
*.exo
exodus/cbind/src/.deps
exodus/cbind/src/.dirstamp
exodus/cbind/src/lib*.lo
exodus/forbind/src/.deps
exodus/forbind/src/.dirstamp
exodus/forbind/src/lib*.lo

testcp
testcp_ln
testcp_nl
testcpd
testrd
testrd-long-name
testrd-nfaced
testrd-nsided
testrd-partial
testrd1
testrd_nc
testrd_ss
testrdd
testrdv
testrdwt
testwt
testwt-long-name
testwt-nfaced
testwt-nsided
testwt-one-attrib
testwt-partial
testwt-zeroe
testwt-zeron
testwt1
testwt2
testwt_clb
testwt_nc
testwt_nossnsdf
testwt_ss
testwtd
testwtm
cmake_install.cmake
CMakeCache.txt
CMakeFiles
create_mesh
rd_wt_mesh
test_nemesis
testcef
testref
test_nem
testcpln
testcpnl
testrd_nsid
testwt_nsid
